cmake_minimum_required( VERSION 3.16 )
project( {{ name }} 
         LANGUAGES CXX )

list( APPEND CMAKE_MODULE_PATH ${PROJECT_SOURCE_DIR} )

set( PYTHON_EXECUTABLE "$ENV{CONDA_PREFIX}/bin/python" )

find_package( pybind11 REQUIRED )                   
find_package( OpenCascade REQUIRED COMPONENTS OPENCASCADE )

include_directories( ${PROJECT_SOURCE_DIR} )
file( GLOB CPP_FILES ${PROJECT_SOURCE_DIR}/*.cpp )

add_library( {{ name }} MODULE ${CPP_FILES} )

target_link_libraries( {{ name }} PRIVATE OPENCASCADE pybind11::module )
set_target_properties( {{ name }} 
                       PROPERTIES
                       CXX_STANDARD 17 
                       CMAKE_CXX_FLAGS_RELEASE "-O3 "
                       COMPILE_FLAGS "-fpermissive -fvisibility=hidden -fvisibility-inlines-hidden"
                       INTERPROCEDURAL_OPTIMIZATION FALSE 
                       PREFIX "${PYTHON_MODULE_PREFIX}"
                       SUFFIX "${PYTHON_MODULE_EXTENSION}" )
